body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.idol-list {
    display: none;
}

li {
    
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 4%;
    cursor: pointer;
    list-style: none;
}

li:hover {
    background-color: lightgray;
}

li:active {
    background-color: gray;
}
.selected-bias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}